<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.infini.timesnetwor0"
        versionCode = "10"
        version     = "0.0.7" >

    <preference name="phonegap-version" value="cli-6.0.0" />
 
    <preference name="fullscreen" value="true" /> 
    <!-- versionCode is optional and Android only -->
    <platform name="winphone" />
    <author>Infini Systems Pvt Ltd</author>
    <preference name="windows-identity-name" value="InfiniSystemsPvtLtd.HSIF2016India" />
    <!-- Windows 8.1: -->
    <!-- Windows 10 (default): -->
    <!--    <preference name="windows-appx-target" value="uap" />
     Windows 8.1: 
    <preference name="windows-appx-target" value="8.1-win" />-->
    <!-- Windows Phone 8.1: -->
    <preference name="windows-appx-target" value="8.1-phone" />
    <description>
        Hitachi Social Innovation forum 2016
    </description>

    <name>HSIF 2016 India</name>

    <access origin="*" />
    <plugin name="cordova-plugin-console" spec="1.0.3" />
    <plugin name="cordova-plugin-device" spec="1.1.2" />
    <plugin name="cordova-plugin-splashscreen" spec="3.2.2" />
    <plugin name="cordova-plugin-whitelist" spec="1.2.2" />
    <plugin name="cordova-plugin-device-motion" spec="1.2.1" />

    
    <icon platform="winphone" width="30"  height="30"  src="res/Square30x30Logo.scale-100.png" />
    <icon platform="winphone" width="44"  height="44"  src="res/Square44x44Logo.scale-100.png" />
    <icon platform="winphone" width="50"  height="50"  src="res/StoreLogo.scale-100.png" />
    <icon platform="winphone" width="70"  height="70"  src="res/Square70x70Logo.scale-100.png" />
    <icon platform="winphone" width="71"  height="71"  src="res/Square71x71Logo.scale-100.png" />
    <icon platform="winphone" width="106" height="106" src="res/Square44x44Logo.scale-240.png" />
    <icon platform="winphone" width="120" height="120" src="res/StoreLogo.scale-240.png" />
    <icon platform="winphone" width="150" height="150" src="res/Square150x150Logo.scale-100.png" />
    <icon platform="winphone" width="170" height="170" src="res/Square71x71Logo.scale-240.png" />
    <icon platform="winphone" width="310" height="310" src="res/Square310x310Logo.scale-100.png" />
    <icon platform="winphone" width="360" height="360" src="res/Square150x150Logo.scale-240.png" />
    <icon platform="winphone" width="310" height="150" src="res/Wide310x150Logo.scale-100.png" />
    <icon platform="winphone" width="744" height="360" src="res/Wide310x150Logo.scale-240.png" />

    <splash platform="winphone" width="1152" height="1920" src="res/SplashScreenPhone.scale-240.png" />
    <splash platform="winphone" width="620"  height="300"  src="res/SplashScreen.scale-100.png" />



</widget>