<ion-view "class="messaging-view ">
 <ion-nav-title>{{fuser.display_name}}</ion-nav-title>

<ion-nav-buttons side="right ">
        <button class="button icon ion-refresh " ng-click="doRefresh() ">
 </button>
</ion-nav-buttons>


    <ion-content class="content-stable chatcontent"
                 on-swipe-left="hideTime=false"
                 on-swipe-right="hideTime=true">

<ion-refresher
    pulling-text="Pull to refresh... "
    on-refresh="doRefresh() ">
  </ion-refresher>

 <div class="Ncontent ">
      <div ng-repeat="pchat in prchatdata ">
      <div  class="messages"  ng-if="fromid!=pchat.from">
        <div class="message slide-left " >
          <span>{{pchat.msg}}
<div class="chatdateleft ">{{pchat.created_at | date:'yyyy-MM-dd'}}</div>
          </span>
        </div>
    
      </div>

    <div class="messages other" ng-if="fromid==pchat.from">
        <div class="message">
          <span>{{pchat.msg}}
<div class="chatdateright ">{{pchat.created_at | date}} </div>
          </span>
        </div>
     
      </div>
      </div>











      <div ng-repeat="message in messages">
     
       <div class="messages other" >
        <div class="message ">
          <span>{{ message.text }}
 <div class="chatdateright ">{{message.time}}</div>
          </span>
         </div>
         
      </div>

      </div>
      </div>
    </ion-content>
    
    <ion-footer-bar keyboard-attach class="chatinput bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <input type="hidden" name="to" value="2">
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>






</ion-view>
