<!--   <div class="modal cstmodal" ng-controller="loginCtrl">
        <div class="button button-clear" style="color:#fff;" ng-click="mclosemodal()"><span class="icon ion-close"></span></div>
        <content has-header="true" padding="true">
          <div class="loginbox">
          <form name="nlogin" ng-submit="doLogin(loginData)">
            <div class="list">
              <label class="item item-input">
                
                <input type="email" name="username" placeholder="Email" ng-model="loginData.username" required="">

              </label>
              <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="loginData.password" name="password" required="">
              </label>
              
                <button type="submit" class="button button-block button-assertive brd-r0" ng-disabled="nlogin.$invalid">Log in</button>
             
            </div>
          </form>

          <p class="fblack">New User? <span href="#/app/register" ng-click="gotopage()">Register</span></p>

         <p class="fred" ng-if="loginerror">Your email address or password is incorrect please check and try again </p>

          </div>

          

 
        </content>
      </div> -->