<ion-view>
 <ion-nav-title>HSIF 2016</ion-nav-title>
  <ion-content class="has-header>
  <div class="banner">
  	<img src="img/banner.jpg"  alt="" />
  </div>

  <div class="row">
    <div class="col col-40 mt10">
    <img src="img/logo-dark.png"  alt="" />
    </div>
    <div class="col col-20"></div>
    <div class="col col-40 ">
   <img src="img/times-network-logo.png"  alt="" />
    </div>
  </div>
  <div class="pageHead">
  	<div class="row">
  	<div class="col col-100"><h3 class="ptitle txtleft"><span>Speakers</span></h3></div>
  		
  	</div>
  </div>


  <div class="clearfix"></div>
    <div class="Ncontent">


        <ul class="tabview">
            <li ng-repeat="tab in tabs" 
                ng-class="{active:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)"><span>{{tab.ptitle}}</span></li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
 


    </div>
  </ion-content>


<div class="bar-footer">
<a href="#/app/queries"><div class="sendquery ion-help"></div></a>
<a href="javascript:void(0)" ng-click="checkuserlogin('chatlist');"><div class="chatbtn ion-chatbubble"></div></a>
</div>



<script type="text/ng-template" id="payment.html">
		<div class="tabcontent p0" ng-controller="speakPaymentCtrl">
	 <div ng-bind-html="speakpayment"></div>	

	</div>
</script>


<script type="text/ng-template" id="hitachidata.html">
		<!-- Hitachi Data Solutions -->
		<div class="tabcontent p0" ng-controller="speakHdsCtrl">
		<div ng-bind-html="speakhds"></div>	
		</div>
</script>




	
	<script type="text/ng-template" id="railways.html">
		<div class="tabcontent p0" ng-controller="speakRailCtrl">
			<div ng-bind-html="speakrailway"></div>


		</div>
	</script>
	
	<script type="text/ng-template" id="microclinic.html">
			<div class="tabcontent p0" ng-controller="speakMicroCtrl">
			<div  ng-bind-html="speakmicroit"></div>
			</div>
	</script>



		
	










</ion-view>

